@model List<ESKINS.DbServices.Models.ItemLocationsModels>
<div class="cd-filter-block">
	<h4>Location</h4>

	<div class="cd-filter-content" style="display:none;">
		<div class="cd-select cd-filters">
			<select class="filter" name="selectThis" id="selectThis">
				<option value="" style="cursor: pointer;">Choose an option</option>
				@foreach(var item in Model)
				{
					<option value="@item.ItemLocation">@item.ItemLocation</option>
				}
			</select>
		</div> <!-- cd-select -->
	</div> <!-- cd-filter-content -->
</div> <!-- cd-filter-block -->