@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	Layout = "_Layout";
}
<style>
	body {
		font-family: Arial, sans-serif;
		color: white;
		margin: 0;
		padding: 0;
	}
	header {
		background-color: #181716;
		color: white;
		padding: 20px;
		text-align: center;
	}
	h1 {
		margin-top: 0;
		font-size: 36px;
		text-transform: uppercase;
		letter-spacing: 2px;
		color: white;
	}
	.container {
		max-width: 1200px;
		margin: 0 auto;
		padding: 40px;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin-top:200px;
	}
	p {
		font-size: 18px;
		line-height: 1.5;
		margin-bottom: 20px;
	}
</style>
<div style="background-image: url('../../img/leftsideanty.jpg'); height:1000px;">
	<header>
		<h1>About Us</h1>
	</header>
	<div class="container">
		<p>At our website, we specialize in buying, selling, and exchanging Counter Strike Global Offensive skins. Our team is made up of passionate gamers who understand the value and importance of these skins in the CS:GO community.</p>
		<p>Whether you are looking to sell your skins for cash, exchange them for other skins, or buy new ones to add to your collection, we have the experience and expertise to help you achieve your goals.</p>
		<p>We pride ourselves on our commitment to providing our customers with a safe, secure, and reliable platform to conduct their transactions. We use the latest technology and security measures to ensure that your personal information and transactions are always protected.</p>
		<p>Thank you for choosing us as your source for CS:GO skins. We look forward to serving you and helping you get the most out of your gaming experience.</p>
	</div>
</div>