    #body1 {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 15px;
        line-height: 1.4;
        color: #fff;
        background-color: #1f2029;
        overflow-x: hidden;
        background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
        background-position: center;
        background-repeat: repeat;
        background-size: 4%;
        width: 100%;
        height: 100%;
    }
    #container {
        width: 100%;
    }
    /*footer style*/
    #footer1.footer-clean {
        padding: 50px 0;
        background-color: #fff;
        color: #4b4c4d;
    }

    #footer1.footer-clean h3 {
        margin-top: 0;
        margin-bottom: 12px;
        font-weight: bold;
        font-size: 16px;
    }

    #footer1.footer-clean ul {
        padding: 0;
        list-style: none;
        line-height: 1.6;
        font-size: 14px;
        margin-bottom: 0;
    }

    #footer1.footer-clean ul a {
        color: inherit;
        text-decoration: none;
        opacity: 0.8;
    }

    .footer-clean ul a:hover {
        opacity: 1;
    }

    #footer1.footer-clean .item.social {
        text-align: right;
    }

    @@media (max-width:767px) {
        #footer1 .footer-clean .item {
            text-align: center;
            padding-bottom: 20px;
        }
    }

    @@media (max-width: 768px) {
        #footer1.footer-clean .item.social {
            text-align: center;
        }
    }

    #footer1.footer-clean .item.social > a {
        font-size: 24px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        border: 1px solid #ccc;
        margin-left: 10px;
        margin-top: 22px;
        color: inherit;
        opacity: 0.75;
    }

    #footer1.footer-clean .item.social > a:hover {
        opacity: 0.9;
    }

    @@media (max-width:991px) {
        #footer1.footer-clean .item.social > a {
            margin-top: 40px;
        }
    }

    @@media (max-width:767px) {
        #footer1 .footer-clean .item.social > a {
            margin-top: 10px;
        }
    }

    #footer1.footer-clean .copyright {
        margin-top: 14px;
        margin-bottom: 0;
        font-size: 13px;
        opacity: 0.6;
    }

/*card style*/
    @import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap");

    .card {
        position: relative;
        width: 200px;
        height: 250px;
        background: #191919;
        border-radius: 20px;
        overflow: hidden;
        display: inline-block;
        display: flex;
        justify-content: stretch;
        align-items: center;
        min-height: 100px;
        background: #212121;
        margin: 0;
        padding: 0;
        font-family: "Istok Web", sans-serif;
        cursor: pointer;
        display: inline-block;
    }

    .card::before {
        content: "";
        position: absolute;
        top: -50%;
        width: 100%;
        height: 100%;
        background: #ffce00;
        transform: skewY(345deg);
        transition: 0.5s;
    }

    .card:hover::before {
        top: -70%;
        transform: skewY(390deg);
    }

    .card::after {
        content: "CORSAIR";
        position: absolute;
        bottom: 0;
        left: 0;
        font-weight: 600;
        font-size: 6em;
        color: rgba(0, 0, 0, 0.1);
    }

    .card .imgBox {
        position: relative;
        width: 80px;
        margin-left:55px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        z-index: 1;
    }

    .card .contentBox {
        position: relative;
        padding: 20px;
        margin-top: -20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 2;
    }

    .card .contentBox h3 {
        font-size: 10px;
        color: white;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .card .contentBox .price {
        font-size: 24px;
        color: white;
        font-weight: 700;
        letter-spacing: 1px;
        margin-top: -10px;
    }

    .card .contentBox .buy {
        position: relative;
        top: 0;
        opacity: 1;
        padding: 10px 30px;
        margin-top: 15px;
        color: #000000;
        text-decoration: none;
        background: #ffce00;
        border-radius: 30px;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: 0.5s;
    }

    .card:hover .contentBox .buy {
        top: 0;
        opacity: 1;
    }

    .mouse {
        height: 100px;
        width: auto;
    }
