body {
    background-color: #181716;
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    color: #331d35;
    background-color: #e7e7e7;
}

html {
    scrollbar-face-color: #646464;
    scrollbar-base-color: #646464;
    scrollbar-3dlight-color: #646464;
    scrollbar-highlight-color: #646464;
    scrollbar-track-color: #000;
    scrollbar-arrow-color: #000;
    scrollbar-shadow-color: #646464;
    scrollbar-dark-shadow-color: #646464;
}

::-webkit-scrollbar {
    width: 8px;
    height: 3px;
}

::-webkit-scrollbar-button {
    background-color: #666;
}

::-webkit-scrollbar-track {
    background-color: #646464;
}

::-webkit-scrollbar-track-piece {
    background-color: #000;
}

::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #666;
    border-radius: 3px;
}

::-webkit-scrollbar-corner {
    background-color: #646464;
}

::-webkit-resizer {
    background-color: #666;
}

.card::before {
    content: "";
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    background: transparent;
    transform: skewY(345deg);
    transition: 0.5s;
}

.card {
    box-shadow: black 0px 20px 30px -10px;
    transition: 0.3s;
    margin-bottom: 11px;
}

    .card:hover {
        box-shadow: 0 0 2px 2px #5600b2;
        transform: scale(1.05);
    }

#smallButton {
    margin-left: -50px;
    margin-top: -90px;
    text-align: left;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    background-color: #181716;
}

    #smallButton:hover {
        background-color: #333333;
    }
@keyframes moveCards {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-220px);
    }
}