@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<style>
    body {
        /* font-family: Arial, sans-serif;*/
        background-color: transparent;
        font-size: 1.6rem;
        font-family: "Open Sans", sans-serif;
        color: #331d35;
    }

    #logoutButton {
        margin-top: 7px;
    }

    #CartButton{
        margin-top: 6px;
    }
</style>
@if(true)@*(SignInManager.IsSignedIn(User))*@
{
    <li>
        <a href="@Url.Action("Index", "Profile")">
            <span class="glyphicon glyphicon-user"></span>
            Profile
        </a>
    </li>
    <li class="nav-item">
        <button class="btn btn-outline-dark" id="CartButton" type="submit">
            <i class="bi-cart-fill me-1"></i>
            Cart
            <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
        </button>
    </li>
    @*<li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>*@
    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" id="logoutButton" class="nav-link btn btn-link text-dark"><span class="bi bi-box-arrow-left"></span> Logout</button>
        </form>
    </li>
}
else
{
    <li><a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login"><span class="bi bi-door-open"></span> Register</a></li>
    <li><a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login"><span class="bi bi-box-arrow-in-right"></span> Login</a></li>
}
