@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	Layout = "_Layout";
}
@section head {
	<link href="~/css/index.css" type="text/css" rel="stylesheet" />
	<link href="~/css/home.css" type="text/css" rel="stylesheet" />
	<link href="~/css/home2.css" type="text/css" rel="stylesheet" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
}
<script>
	function showSecondView() {
		window.location.href = "/Identity/Account/Login";
	}
</script>
<div class="mainIndex" style="margin-top:20px;">
	<main>
		<section class="hero-section" style="background-image: url('../../img/leftsideanty.jpg'); height: 800px; margin-top:-20px;">
			<h1>Buy and Sell CS:GO Skins</h1>
			<p>Find the perfect skins for your weapons or sell your own skins for cash.</p>
			<button class="btn-hover color-3" onclick="showSecondView()">Start Buying/Selling</button>
		</section>
		<section class="services-section" style="height: 700px;background-image: url('../../img/maninfire.png');">
			<h2>Our Services</h2>
			<div class="services">
				<div class="service">
					<i class="fas fa-shopping-cart"></i>
					<h3>Buy Skins</h3>
					<p>Choose from a wide selection of CSGO skins and purchase them instantly.</p>
				</div>
				<div class="service">
					<i class="fas fa-money-bill"></i>
					<h3>Sell Skins</h3>
					<p>Sell your CSGO skins for cash quickly and easily.</p>
				</div>
				<div class="service">
					<i class="fas fa-shield-alt"></i>
					<h3>Secure Transactions</h3>
					<p>Our site uses the latest encryption technology to keep your transactions secure.</p>
				</div>
			</div>
		</section>
		<section class="featured-section" style="height: 700px;background-image: url('../../img/bloodsport.jpg');">
			<h2 style="color:white;">Featured Skins</h2>
			<div class="featured-skins">
				<div class="featured-skin">
					<img src="skin1.jpg" alt="Skin 1">
					<h3>AK-47 | Bloodsport</h3>
					<p>Minimal Wear</p>
					<p>$20.00</p>
				</div>
				<div class="featured-skin">
					<img src="skin2.jpg" alt="Skin 2">
					<h3>AWP | Dragon Lore</h3>
					<p>Field-Tested</p>
					<p>$1,500.00</p>
				</div>
				<div class="featured-skin">
					<img src="skin3.jpg" alt="Skin 3">
					<h3>M4A4 | Howl</h3>
					<p>Factory New</p>
					<p>$2,000.00</p>
				</div>
			</div>
		</section>
	</main>
</div>