@{
    ViewData["Title"] = "Home Page";
}
<style>
	.cd-filter::before {
		/* top colored bar */
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 50px;
		width: 100%;
		background-color: #181716;
		z-index: 2;
	}
	.cd-filter{
		border-top-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}
</style>
<div style="margin-left: 100px;">
	<section class="cd-gallery">
		@{
			Random rnd = new Random();
			for(int i = 0; i<100; i++){
				<div class="card" style="margin-left: 10px;">
					<div class="imgBox" style="width:70px; margin-left: 60px;">
						<img src="https://www.corsair.com/corsairmedia/sys_master/productcontent/CH-9300011-NA-M65_PRO_RGB_BLK_04.png" alt="mouse corsair" class="mouse">
					</div>
					<div class="contentBox">
						<h3>Mouse Corsair M65</h3>
						<h2 class="price">@rnd.Next(1000).<small>@rnd.Next(99)</small> £</h2>
						<a href="#" class="buy" style="width: 170px">Add To Card</a>
					</div>
				</div>
			}
		}
		@*<li class="mix color-2 check2 radio2 option2"><img src="img/img-2.jpg" alt="Image 2"></li>*@
		<div class="cd-fail-message">No results found</div>
	</section> <!-- cd-gallery -->
</div>
<div class="cd-filter" style="background-color:	#181716; color: #a9a9a9;">
	<form>
		<div class="cd-filter-block">
			<h4>Search</h4>

			<div class="cd-filter-content">
				<input type="search" placeholder="Try color-1...">
			</div> <!-- cd-filter-content -->
		</div> <!-- cd-filter-block -->

		<div class="cd-filter-block">
			<h4>Check boxes</h4>

			<ul class="cd-filter-content cd-filters list">
				<li>
					<input class="filter" data-filter=".check1" type="checkbox" id="checkbox1">
					<label class="checkbox-label" for="checkbox1">Option 1</label>
				</li>

				<li>
					<input class="filter" data-filter=".check2" type="checkbox" id="checkbox2">
					<label class="checkbox-label" for="checkbox2">Option 2</label>
				</li>

				<li>
					<input class="filter" data-filter=".check3" type="checkbox" id="checkbox3">
					<label class="checkbox-label" for="checkbox3">Option 3</label>
				</li>
			</ul> <!-- cd-filter-content -->
		</div> <!-- cd-filter-block -->

		<div class="cd-filter-block">
			<h4>Select WEAPON</h4>

			<div class="cd-filter-content">
				<div class="cd-select cd-filters">
					<select class="filter" name="selectThis" id="selectThis">
						<option value="">Choose an option</option>
						<option value=".option1">Option 1</option>
						<option value=".option2">Option 2</option>
						<option value=".option3">Option 3</option>
						<option value=".option4">Option 4</option>
					</select>
				</div> <!-- cd-select -->
			</div> <!-- cd-filter-content -->
		</div> <!-- cd-filter-block -->

		<div class="cd-filter-block">
			<h4>Radio buttons</h4>

			<ul class="cd-filter-content cd-filters list">
				<li>
					<input class="filter" data-filter="" type="radio" name="radioButton" id="radio1" checked>
					<label class="radio-label" for="radio1">All</label>
				</li>

				<li>
					<input class="filter" data-filter=".radio2" type="radio" name="radioButton" id="radio2">
					<label class="radio-label" for="radio2">Choice 2</label>
				</li>

				<li>
					<input class="filter" data-filter=".radio3" type="radio" name="radioButton" id="radio3">
					<label class="radio-label" for="radio3">Choice 3</label>
				</li>
			</ul> <!-- cd-filter-content -->
		</div> <!-- cd-filter-block -->
	</form>
	<a href="#0" class="cd-close" style="background-color:#111111; color: #a9a9a9;">Close</a>
</div> 
<a href="#0" class="cd-filter-trigger" style="">Filters</a>

