@{
    ViewData["Title"] = "E-SKINS Privacy Policy";
}
<center>
<h1>@ViewData["Title"]</h1><br />
</center>
  <p>At E-SKINS, we respect your privacy and are committed to protecting your personal information. This Privacy Policy explains how we collect, use, and disclose information about you when you use our web app for selling game skins. By using our web app, you consent to the processing of your personal data in accordance with this policy.</p>

  <h2>Information we collect</h2>
  <p>We collect personal information that you provide directly to us, such as your name, email address, and payment information. We may also collect information about your transactions, purchases, and other activities on our web app.</p>

  <p>We automatically collect certain information when you use our web app, including your IP address, device type, browser type, and operating system. We may also collect information about your usage of our web app, such as the pages you view, the links you click, and the search terms you enter.</p>

  <h2>How we use your information</h2>
  <p>We may use your personal information to:</p>
  <ul>
    <li>Process and fulfill your orders and transactions</li>
    <li>Communicate with you about your orders and transactions</li>
    <li>Provide customer support</li>
    <li>Send you promotional offers and other marketing communications</li>
    <li>Improve our web app and user experience</li>
    <li>Detect and prevent fraud and other illegal activities</li>
    <li>Comply with legal obligations</li>
  </ul>

  <h2>How we share your information</h2>
  <p>We may share your personal information with third-party service providers who help us with our business operations, such as payment processors, shipping providers, and marketing agencies. We may also share your information with our affiliates and partners for marketing purposes.</p>

  <p>We may disclose your personal information in response to a subpoena, court order, or other legal request. We may also disclose your information to protect our rights or property, to prevent harm to others, or to comply with a legal obligation</p>

  <h2>Security of Your Information</h2>
	<p>We take reasonable measures to protect your information from unauthorized access or disclosure. However, no security measures are 100% effective, and we cannot guarantee the security of your information.</p>
	<h2>Changes to This Policy</h2>
	<p>We may update this policy from time to time. The updated policy will be posted on our website and will be effective as of the date of posting.</p>
	<h2>Contact Us</h2>
	<p>If you have any questions or concerns about this policy, please contact us at <a href="mailto:info@example.com">info@example.com</a>.</p>