@{
    ViewData["Title"] = "Market";
}
@{
}
@section head{
	<link href="~/css/market2.css" type="text/css" rel="stylesheet" />
}
<style>
	 /*top colored bar */
	.cd-filter::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 50px;
		width: 100%;
		background-color: #181716;
		z-index: 2;
	}
	.cd-filter{
		border-top-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}

	.cd-filter-block .checkbox-label::after {
		 /*check mark style for check boxes */
		width: 16px;
		height: 16px;
		margin-left: -24px;
		background: url("../img/cd-icon-check.svg") no-repeat center center;
	}

	.cd-filter-block .checkbox-label {
		cursor: pointer;
	}

	.radio-label::after {
		cursor: pointer;
	}
	@@media only screen and (max-width: 800px) {
		.filtering .box li {
			display: block;
	  }
	}

	@@media only screen and (max-width: 800px) {
		.filtering .navbar-form {
			width: 285px;
			border: none;
			margin-left: 100px;
		}
	}

	@@media only screen and (max-width: 800px) {
		.filtering .button-42 {
			width: auto;
			margin-right: 210px;
		}
	}

	@@media only screen and (max-width: 800px) {
		.filtering select {
			width: auto;
			margin-right: 225px;
		}
	}

	.card .contentBox .buy {
		position: relative;
		top: 0;
		opacity: 1;
		padding: 10px 30px;
		margin-top: 15px;
		color: white;
		text-decoration: none;
		background: #5600b2;
		border-radius: 30px;
		text-transform: uppercase;
		letter-spacing: 1px;
		transition: 0.5s;
	}

	.card .contentBox .buy:hover{
		background-color:#6f2da8;
	}
	#smallButton{
		margin-left: -50px;
		margin-top: -90px;
		text-align: left;
		border-radius: 20px;
		background-color: transparent;
		color: white;
		background-color: #181716;
	}

	#smallButton:hover{
		background-color: #333333;
	}
</style>
<div class="filtering" style="height:auto;">
	<hr style="margin:auto;" />
	<div class="box">
		<ul>
			<li>
				<form action="" class="navbar-form">
					<div class="form-group" style="margin-top: -4px; margin-left: 0px;">
						<div class="input-group">
							<input type="search" name="search" id="search" placeholder="Search Any Skin Here..." class="form-control" style="margin-left: 0px;background-color: #333333; color:white; border-color:#222222;">
							<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
						</div>
					</div>
				</form>
			</li>
			<li style="margin-right:15px;">
				<button class="button-42"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
			</li>
			<li>
				<select>
					<option>Recommended for you</option>
					<option>Best Deals</option>
					<option>Best Discount</option>
					<option>Date: Newest First</option>
					<option>Date: Oldest First</option>
					<option>Price: Lowest First</option>
					<option>Price: Highest First</option>
				</select>
			</li>
		</ul>
	</div>
</div> 
<hr style="border-color: black; margin: 0px;">
<main class="cd-main-content" ">
	<div style="margin-left: 100px;">
		<section class="cd-gallery">
			@{
				Random rnd = new Random();
				for(int i = 0; i<100; i++){
													<div class="card" style="margin-left: 10px;">
														<div class="imgBox" style="width:70px; margin-left: 60px;">
															<div>
																<button class="btn" id="smallButton"><i id="iid" class="bi bi-info-circle"></i></button>
															</div>
															<img src="https://www.corsair.com/corsairmedia/sys_master/productcontent/CH-9300011-NA-M65_PRO_RGB_BLK_04.png" alt="mouse corsair" class="mouse">
														</div>
														<div class="contentBox">
															<h3>Mouse Corsair M65</h3>
															<h2 class="price">@rnd.Next(1000).<small>@rnd.Next(99)</small> £</h2>
															<a href="#" class="buy" style="width: 170px">Add To Card</a>
														</div>
													</div>
				}
			}
			@*<li class="mix color-2 check2 radio2 option2"><img src="img/img-2.jpg" alt="Image 2"></li>*@
			<div class="cd-fail-message">No results found</div>
		</section> <!-- cd-gallery -->
	</div>
	<div class="cd-filter" style="background-color:	#181716; color: #a9a9a9;">
		<form>
			@*<div class="cd-filter-block">
				<h4>Search</h4>

				<div class="cd-filter-content">
					<input type="search" placeholder="Search Any Skin Here...">
				</div> <!-- cd-filter-content -->
			</div> <!-- cd-filter-block -->*@

			<div class="cd-filter-block">
				<h4>Item Category</h4>

				<ul class="cd-filter-content cd-filters list">
					<li>
						<input class="filter" data-filter=".check1" type="checkbox" id="checkbox1">
						<label class="checkbox-label" for="checkbox1">All</label>
					</li>

					<li>
						<input class="filter" data-filter=".check2" type="checkbox" id="checkbox2">
						<label class="checkbox-label" for="checkbox2">Misc</label>
					</li>

					<li>
						<input class="filter" data-filter=".check3" type="checkbox" id="checkbox3">
						<label class="checkbox-label" for="checkbox3">Pistols</label>
					</li>
					<li>
						<input class="filter" data-filter=".check4" type="checkbox" id="checkbox4">
						<label class="checkbox-label" for="checkbox4">SMG</label>
					</li>
					<li>
						<input class="filter" data-filter=".check5" type="checkbox" id="checkbox5">
						<label class="checkbox-label" for="checkbox5">Rifles</label>
					</li>
					<li>
						<input class="filter" data-filter=".check6" type="checkbox" id="checkbox6">
						<label class="checkbox-label" for="checkbox6">Sniper Rifles</label>
					</li>
					<li>
						<input class="filter" data-filter=".check7" type="checkbox" id="checkbox7">
						<label class="checkbox-label" for="checkbox7">Shotguns</label>
					</li>
					<li>
						<input class="filter" data-filter=".check8" type="checkbox" id="checkbox8">
						<label class="checkbox-label" for="checkbox8">Machine Guns</label>
					</li>
					<li>
						<input class="filter" data-filter=".check9" type="checkbox" id="checkbox9">
						<label class="checkbox-label" for="checkbox9">Knifes</label>
					</li>
					<li>
						<input class="filter" data-filter=".check10" type="checkbox" id="checkbox10">
						<label class="checkbox-label" for="checkbox10">Gloves</label>
					</li>
				</ul> <!-- cd-filter-content -->
			</div> <!-- cd-filter-block -->

			<div class="cd-filter-block">
				<h4>Select WEAPON</h4>

				<div class="cd-filter-content">
					<div class="cd-select cd-filters">
						<select class="filter" name="selectThis" id="selectThis">
							<option value="" style="cursor: pointer;">Choose an option</option>
							<option value=".option1">Option 1</option>
							<option value=".option2">Option 2</option>
							<option value=".option3">Option 3</option>
							<option value=".option4">Option 4</option>
						</select>
					</div> <!-- cd-select -->
				</div> <!-- cd-filter-content -->
			</div> <!-- cd-filter-block -->

			<div class="cd-filter-block">
				<h4>Radio buttons</h4>

				<ul class="cd-filter-content cd-filters list">
					<li>
						<input class="filter" data-filter="" type="radio" name="radioButton" id="radio1" checked>
						<label class="radio-label" for="radio1">All</label>
					</li>

					<li>
						<input class="filter" data-filter=".radio2" type="radio" name="radioButton" id="radio2">
						<label class="radio-label" for="radio2">Choice 2</label>
					</li>

					<li>
						<input class="filter" data-filter=".radio3" type="radio" name="radioButton" id="radio3">
						<label class="radio-label" for="radio3">Choice 3</label>
					</li>
				</ul> <!-- cd-filter-content -->
			</div> <!-- cd-filter-block -->
			<div class="cd-filter-block">
				<h4>Unique Items</h4>

				<ul class="cd-filter-content cd-filters list">
					<li>
						<input class="filter" data-filter=".check1" type="checkbox" id="checkbox11">
						<label class="checkbox-label" for="checkbox11">All</label>
					</li>

					<li>
						<input class="filter" data-filter=".check2" type="checkbox" id="checkbox12">
						<label class="checkbox-label" for="checkbox12">Rare Phase</label>
					</li>

					<li>
						<input class="filter" data-filter=".check3" type="checkbox" id="checkbox13">
						<label class="checkbox-label" for="checkbox13">Rare Float</label>
					</li>
					<li>
						<input class="filter" data-filter=".check4" type="checkbox" id="checkbox14">
						<label class="checkbox-label" for="checkbox14">Rare Items</label>
					</li>
					<li>
						<input class="filter" data-filter=".check5" type="checkbox" id="checkbox15">
						<label class="checkbox-label" for="checkbox15">Rare Stickers</label>
					</li>
				</ul> <!-- cd-filter-content -->
			</div> <!-- cd-filter-block -->
			<div class="cd-filter-block">
				<h4>Phase</h4>

				<ul class="cd-filter-content cd-filters list">
					<li>
						<input class="filter" data-filter=".check1" type="checkbox" id="checkbox16">
						<label class="checkbox-label" for="checkbox16">All</label>
					</li>

					<li>
						<input class="filter" data-filter=".check2" type="checkbox" id="checkbox17">
						<label class="checkbox-label" for="checkbox17">Phase 1</label>
					</li>

					<li>
						<input class="filter" data-filter=".check3" type="checkbox" id="checkbox18">
						<label class="checkbox-label" for="checkbox18">Phase 2</label>
					</li>
					<li>
						<input class="filter" data-filter=".check4" type="checkbox" id="checkbox19">
						<label class="checkbox-label" for="checkbox19">Phase 3</label>
					</li>
					<li>
						<input class="filter" data-filter=".check5" type="checkbox" id="checkbox20">
						<label class="checkbox-label" for="checkbox20">Phase 4</label>
					</li>
					<li>
						<input class="filter" data-filter=".check6" type="checkbox" id="checkbox21">
						<label class="checkbox-label" for="checkbox21">Ruby</label>
					</li>
					<li>
						<input class="filter" data-filter=".check7" type="checkbox" id="checkbox22">
						<label class="checkbox-label" for="checkbox22">Emerald</label>
					</li>
					<li>
						<input class="filter" data-filter=".check8" type="checkbox" id="checkbox23">
						<label class="checkbox-label" for="checkbox23">Sapphire</label>
					</li>
					<li>
						<input class="filter" data-filter=".check9" type="checkbox" id="checkbox24">
						<label class="checkbox-label" for="checkbox24">Black Perl</label>
					</li>
				</ul> <!-- cd-filter-content -->
			</div> <!-- cd-filter-block -->
		</form>
		<a href="#0" class="cd-close" style="background-color:#111111; color: #a9a9a9;">Close</a>
	</div> 
	<a href="#0" class="cd-filter-trigger" style="">Filters</a>
</main> <!-- cd-main-content -->
