@{
    ViewData["Title"] = "E-SKINS Privacy Policy";
    Layout = "_MainPageLayout";
}
@section head{
    @*<link href="~/css/privacy.css" type="text/css" rel="stylesheet" />*@
}
<style>
    #container{
        width: 80%;
        margin: 0 auto;
        background-color: #202020;
        color: white;
        padding: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 10px;
    }

    .privacy h1 {
        margin-top: 0;
        font-size: 36px;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: white;
    }

    header {
        background-color: #181716;
        color: white;
        padding: 20px;
        text-align: center;
        box-shadow: 0px 9px 30px black;
    }

    body {
        /* font-family: Arial, sans-serif;*/
        background-color: #181716;
        font-size: 1.6rem;
        font-family: "Open Sans", sans-serif;
        color: #331d35;
        background-color: #e7e7e7;
    }
</style>
<header class="privacy">
    <h1><strong>Privacy Policy</strong></h1>
</header>
<br />
<div id="container" style="box-shadow: 0px 9px 30px black;">
    <p>We take your privacy seriously and are committed to protecting it. This Privacy Policy explains how we collect, use, and disclose your personal information.</p>
    <h2>Information We Collect</h2>
    <p>We may collect the following types of personal information:</p>
    <ul>
        <li><span class="emphasis">Name</span></li>
        <li><span class="emphasis">Email address</span></li>
        <li><span class="emphasis">Postal address</span></li>
        <li><span class="emphasis">Phone number</span></li>
        <li><span class="emphasis">Credit card information</span></li>
        <li><span class="emphasis">Other payment information</span></li>
    </ul>
    <p>We may also collect information about your use of our website, such as pages visited, time spent on our website, and the type of device you are using.</p>
    <h2>How We Use Your Information</h2>
    <p>We may use your personal information for the following purposes:</p>
    <ul>
        <li>To communicate with you about your account or our services</li>
        <li>To provide services to you, such as processing payments</li>
        <li>To improve our website and services</li>
        <li>To personalize your experience on our website</li>
        <li>To comply with legal obligations, such as responding to subpoenas and court orders</li>
    </ul>
    <p>We may also use your personal information to send you marketing communications about our products and services, unless you opt out of receiving such communications. You can opt out by clicking the "unsubscribe" link in any marketing email we send you.</p>
    <h2>Disclosure of Your Information</h2>
    <p>We may disclose your personal information to the following types of third parties:</p>
    <ul>
        <li>Payment processors</li>
        <li>Service providers who help us operate our website and provide services to you</li>
        <li>Legal and regulatory authorities, if required by law</li>
        <li>Other third parties with your consent or at your direction</li>
    </ul>
    <p>We may also share anonymous, aggregated information about our users with third parties for marketing, advertising, research, or other purposes.</p>
    <h2>Cookies and Other Tracking Technologies</h2>
    <p>We use cookies and other tracking technologies to collect information about your use of our website, such as your IP address, browser type, and operating system. Cookies are small data files that are placed on your device when you visit our website. You can control the use of cookies through your browser settings.</p>
    <h2>Security</h2>
    <p>We take reasonable measures to protect your personal information from unauthorized access, disclosure, or use. However, no transmission of data over the internet is completely secure, and we cannot guarantee the security of your personal information.</p>
    <h2>Changes to this Privacy Policy</h2>
    <p>We may update this Privacy Policy from time to time to reflect changes in our practices or legal requirements. We will notify you of any material changes by posting the updated Privacy Policy on our website and indicating the date of the most recent update.</p>
    <p>If you have any questions or concerns about this Privacy Policy or our privacy practices, please contact us at privacy@ourcompany.com.</p>
    <p class="small-print">Last updated on March 19, 2023</p>
</div>
<br />