@{
    Layout = "_Layout";
}
@section head{
    <link href="~/css/footerviews.css" type="text/css" rel="stylesheet" />
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Success - CS:GO Skins Website</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h2>Employee Success</h2>
    </header>
    <br />
    <br />
    <div class="container1">
        <h3>Welcome to Our Team!</h3>
        <p>
            At our CS:GO skins marketplace, we value the success and growth of our employees. We strive to create a positive and supportive work environment that fosters personal and professional development.
        </p>
        <h3>Employee Benefits</h3>
        <ul>
            <li>Competitive salary packages</li>
            <li>Flexible work hours</li>
            <li>Opportunities for career advancement</li>
            <li>Training and development programs</li>
            <li>Health and wellness benefits</li>
            <li>Team building activities</li>
        </ul>
        <h3>Join Our Team</h3>
        <p>
            If you are passionate about the CS:GO community and want to be part of a dynamic team, we would love to hear from you! Check out our <a href="@Url.Action("Company", "Footer")">job openings</a> page for current opportunities.
        </p>
    </div>
    <br />
</body>
</html>
<style>
    header {
        background-color: #181716;
        color: white;
        padding: 20px;
        text-align: center;
    }

    .h21 {
        margin-top: 0;
        font-size: 36px;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: white;
    }

    .h2 {
        margin-top: 0;
        font-size: 36px;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: white;
    }

    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        color: white;
    }

    .container1 {
        border-radius: 8px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
        padding: 32px;
        margin-right: auto;
        margin-left: auto;
        max-width: 800px;
    }

    h1 {
        color: #333;
    }

    .job-description {
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 20px;
    }

    h3 {
        color: white;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    ul {
        list-style-type: disc;
        margin-left: 20px;
    }

    li {
        font-size: 16px;
        line-height: 1.5;
    }

    .how-to-apply {
        margin-top: 30px;
    }

        .how-to-apply a {
            color: #007bff;
            text-decoration: none;
        }

            .how-to-apply a:hover {
                text-decoration: underline;
            }

</style>
